@import "./src/reboot.css";
@import "./src/variables.css";
@import "./src/header.css";
@import "./src/search.css";
@import "./src/layout.css";
@import "./src/filter.css";
@import "./src/hosting.css";

body {
    background: white;
    font-size: 14px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.main {
    padding: 0 20px;
}

.h1 {
    font-size: 1.6rem;
}

.bold {
    font-weight: bold;
}

/* Tablette */
@media screen and (max-width: 992px) {
    .main {
        padding: 0 10px;
    }
}

/* Smartphone */
@media screen and (max-width: 768px) {
    .main {
        padding: 0;
    }
}
