@import "./src/reboot.css";
@import "./src/variables.css";
@import "./src/header.css";
@import "./src/search.css";
@import "./src/layout.css";
@import "./src/filter.css";
@import "./src/hosting.css";
@import "./src/activity.css";
@import "./src/footer.css";

body {
    background: white;
    font-size: 14px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.h1 {
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}
