.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: var(--background-content);
}

.footer > div {
    flex-basis: 100%;
    padding: 40px;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer li {
    margin: 1rem 0;
}

.footer ul li:first-child {
    font-weight: bold;
    font-size: .9rem;
    line-height: .9rem;
    margin-bottom: 20px;
}

.footer a {
    color: black;
    text-decoration: none;
    padding: 1rem 0;
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .footer {
        flex-wrap: wrap;
        padding: 15px 0;
    }
    .footer > div {
        padding: 10px 20px;
    }
}
