.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.header nav,
.header div {
    flex-basis: 0;
}

.header ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}

.header li {
    flex-basis: 50%;
}

.header nav ul li,
.header nav ul li a {
    color: #000;
    padding: 40px 20px;
}

.header nav ul li a {
    text-decoration: none;
}

.header nav ul li:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 4px 0 -2px var(--primary-color);
    -moz-box-shadow: inset 0 4px 0 -2px var(--primary-color);
    box-shadow: inset 0 4px 0 -2px var(--primary-color);
}

.header nav ul li:hover > a {
    color: var(--primary-color);
}

.logo {
    width: 100px;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 0 2rem 0;
        height: 150px;
    }
    .header nav ul li,
    .header nav ul li a {
        padding: 20px 10px;
    }
    .header nav,
    .header div {
        flex-basis: 100%;
    }
    .header nav ul li:hover {
        -webkit-box-shadow: inset 0 -5px 0 -2px var(--primary-color);
        -moz-box-shadow: inset 0 -5px 0 -2px var(--primary-color);
        box-shadow: inset 0 -5px 0 -2px var(--primary-color);
    }
    .bg-position {
        -webkit-box-shadow: inset 0 -5px 0 -2px var(--background-content);
        -moz-box-shadow: inset 0 -5px 0 -2px var(--background-content);
        box-shadow: inset 0 -5px 0 -2px var(--background-content);
    }
}
