.hosting {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.hosting .h1 {
    flex-basis: 100%;
}

.hosting-result {
    flex-basis: 65%;
}

.bg-result,
.bg-populaire {
    background: var(--background-content);
    border-radius: 20px;
}

.hosting-result > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hosting-result > div > article {
    background: #FFF;
    flex-basis: 32%;
    border-radius: 15px;
    padding: 3px;
    margin: 15px 0;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
}

.hosting-result > div > article > a,
.hosting-populaire > div > article > a {
    color: #000;
}

.hosting-result > div > article > a > div:last-child {
    padding: 5px 10px;
}

.hosting-result > div > article > a > div > img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hosting-result > div > article > a > div > ul,
.hosting-populaire > div > article > a > div > ul{
    display: flex;
    list-style-type: none;
}

.hosting-populaire {
    flex-basis: 35%;
}

.hosting-populaire > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hosting-populaire > div > article {
    background: #FFF;
    border-radius: 15px;
    padding: 3px;
    margin: 15px 0;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
}

.hosting-populaire > div > article > a  {
    display: flex;
}

.hosting-populaire > div > article > a > div:first-child {
    height: 140px;
    width: 140px;
}

.hosting-populaire > div > article > a > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
}

/*.hosting-populaire > div > article > a > div:last-child > p {
    margin-top: -50px;
}*/

.hosting-populaire > div > article > a > div > img {
    width: 140px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.active {
    color: var(--primary-color);
}

.inactive {
    color: #a1a1a1;
}

.more {
    flex-basis: 100%;
    font-weight: bold;
}

/* MD Desktop */
@media screen and (max-width: 1250px) {
    .hosting-result > div > article {
        flex-basis: 48%;
    }
}

/* Tablette */
@media screen and (max-width: 992px) {
    .hosting {
        flex-wrap: wrap;
    }
    .hosting-result {
        flex-basis: 100%;
    }
    .hosting-populaire {
        order: -1;
        flex-basis: 100%;
    }
    .bg-result {
         background: transparent;
    }
    .hosting-populaire > div > article {
        margin: 10px 0;
    }
}

/* Smartphone */
@media screen and (max-width: 768px) {
    .bg-result{
        background: transparent;
    }
    .bg-populaire {
        border-radius: 0;
    }
    .hosting-result > div > article {
        flex-basis: 100%;
    }
    .hosting-result > div > article > a > div > img {
        height: 140px;
    }
}
