.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.p-20 {
    padding: 20px;
}

.pa-20 {
    padding: 20px 0;
}

.float-right {
    float: right;
}

.main {
    padding: 0 20px;
}

/* Tablette */
@media screen and (max-width: 992px) {
    .main {
        padding: 0;
    }
    .pa-20 {
        padding: 20px;
    }
}
