.search {
    width: 100%;
}

.search form {
    display: flex;
    height: 48px;
    width: 40%;
    flex-basis: 40%;
}

.search label {
    position: relative;
    height: 100%;
    width: 20%;
    background: var(--background-content);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search label i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search form input {
    border-top: 1px solid var(--background-content);
    border-bottom: 1px solid var(--background-content);
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding: 5px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.1rem;
}

.search form button {
    background: var(--primary-color);
    color: white;
    border: 0;
    padding: 5px 20px;
    width: 35%;
    flex-basis: 30%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.search form button span {
    display: block;
}

.search form button i {
    display: none;
}

.search form button:hover {
    cursor: pointer;
}

/* MD Desktop */
@media screen and (max-width: 1250px) {
    .search form {
        width: 45%;
        flex-basis: 45%;
    }
    .search form button {
        padding: 5px 10px;
    }
}

/* Tablette */
@media screen and (max-width: 991px) {
    .search {
        padding: 0 20px;
    }
    .search form {
        width: 45%;
        flex-basis: 45%;
    }
    .search form button {
        margin-left: -15px;
    }
    .search form button span {
        display: none;
    }
    .search form button i {
        display: block;
    }
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .search {
        padding: 0 20px;
    }
    .search form {
        width: 100%;
        flex-basis: 100%;
    }
    .search label {
        width: 21%;
    }
    .search form button {
        width: 48px;
        flex-basis: 21%;
        border-radius: 15px;
        margin-left: -15px;
    }
    .search form button span {
        display: none;
    }
    .search form button i {
        display: block;
    }
}