.search {
    width: 100%;
}

.search label {
    position: relative;
    height: 100%;
    width: 10%;
    background: var(--background-content);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search label i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search form {
    display: flex;
    height: 45px;
    width: 45%;
}

.search form input {
    border-top: 1px solid var(--background-content);
    border-bottom: 1px solid var(--background-content);
    border-left: 0;
    border-right: 0;
    width: 60%;
    padding: 5px 15px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.search form button {
    background: var(--primary-color);
    color: white;
    border: 0;
    padding: 5px 20px;
    width: 30%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.search form button:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .search form {
        width: 100%;
        flex-basis: 100%;
    }
    .search form input {

    }
    .search form button {
        border-radius: 15px;
        margin-left: -15px;
     }
}